
# BEGIN EnvatoBackup
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=807b929cf69f69db460facb7a22c7400
RewriteRule (.*) - [F]
</IfModule>

# END EnvatoBackup