/* revolution slider */
.tparrows{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
    -webkit-transition: all 200ms ease-out;
       -moz-transition: all 200ms ease-out;
         -o-transition: all 200ms ease-out;
            transition: all 200ms ease-out;
    //-webkit-transform: translateZ(5px);

}

.tparrows.tp-leftarrow.hidearrows{
    left: 10px !important;
    -webkit-transition: all 200ms ease-out;
       -moz-transition: all 200ms ease-out;
         -o-transition: all 200ms ease-out;
            transition: all 200ms ease-out;
}

 .tparrows.tp-rightarrow.hidearrows{
    right: 10px !important;
    -webkit-transition: all 200ms ease-out;
       -moz-transition: all 200ms ease-out;
         -o-transition: all 200ms ease-out;
            transition: all 200ms ease-out;
}

.tp-bullets.simplebullets.round .bullet{
    -webkit-transition: all 200ms ease-out;
       -moz-transition: all 200ms ease-out;
         -o-transition: all 200ms ease-out;
            transition: all 200ms ease-out;
}

.tp-bullets.simplebullets.round.hidebullets{
    bottom: 0 !important;
    -webkit-transition: all 200ms ease-out;
       -moz-transition: all 200ms ease-out;
         -o-transition: all 200ms ease-out;
            transition: all 200ms ease-out;
}

.tp-leftarrow.default:hover,
.tp-rightarrow.default:hover{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

