/**
 * Shop tables
 */
table.shop_table_responsive {
	thead {
		display: none;
	}

	tbody {
		th {
			display: none;
		}
	}

	tr {
		td {
			display: block;

			&:before {
				content: attr(data-title) ': ';
				font-weight: 700;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	/**
	 * Responsive tables
	 */
	table.shop_table_responsive {
		thead {
			display: table-header-group;
		}

		tbody {
			th {
				display: table-cell;
			}
		}

		tr {
			td {
				display: table-cell;

				&:before {
					display: none;
				}
			}
		}
	}
}